body {
    background-color:lightgray;
    font-family: 'Roboto', Verdana, sans-serif sans-serif;
}

.seccion {
    margin-top: 0.5em;
}

.seccion .fecha {
    font-weight: bold;
}

.contenido-imagen {
    text-align: center;
}

.contenido-imagen img {
    border-radius: 50%;
}
